body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #191a1d;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2.5fr 2.5fr;
    background-color: black;
    height: 100px;
    align-items: center;
}

.header > .header-logo img {
    height: 50px;
    color: white;
    margin-left: 20px;
}

.header > .header-logo {
    display: flex;
    align-items: center;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.right-column {
    display: flex;
    align-items: center;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > .nav-link {
    margin-right: 15px;
}

.navbar > .nav-link a {
    font-weight: 900;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.navbar > .desplegable {
    margin-left: 15px;
    background-color: black;
    color: #acacac;
    border: 0px;
    font-size: 1.5em;
    font-weight: 900;
}

.left-column p {
    color: #f4e184;
    font-size: 1.5em;
    margin: 0px;
}

.right-column {
    display: flex;
    justify-content:end;
    align-items: center;
}

.right-column > .estilo-wrapper > .desplegable  {
    width: 200;
    background-color: #36383f;
    padding: 16px 32px;
    align-content: center;
    color: white;
    border: 20px;
    border-color: rgb(65,65,65);
    font-size: 1.7em;
    font-weight: 900;
    border-radius: 4px;
}

.search i {
    font-size: 2em;
    color: #7b7e8b;
    margin-left: 20px;
    margin-right: 10px;
}

 .button {
    background-color: #36383f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 4px;
}

.hero-section {
    height: 647px;
    display:grid;
    grid-template-columns: 1.1fr 1fr;
    background-color: rgb(45,48,55);
    box-shadow: inset -15px 15px 62px -3px #434750;
}

.hero-section > .left-wrapper {
    margin-left: 90px;
    margin-right: 90px;
}

.hero-section > .left-wrapper > .text-wrapper > .message-text1 p {
    color: white;
    font-size: 2.6em;
}

.hero-section > .left-wrapper > .text-wrapper > .message-text1 span {
    color: #fafafa;
    font-weight: 900;
}

.hero-section > .left-wrapper > .text-wrapper > .message-text2 p {
    color: #b3b3b3;
    font-size: 2.2em;
}

.hero-section > .left-wrapper > .button-wrapper {
    display: flex;
}

.button2 {
    background-color: #4bce79;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 10px 10px 10px 0px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 4px;
}

.button3 {
    background-color: #111111;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 4px;
}

.hero-section > .image-wrapper {
    display: flex;
    flex-direction: column;
}

.hero-section>.image-wrapper>.image img {
    height:590px;
    width: 100%;
}

.hero-section > .image-wrapper > .text {
    color: white;
    font-size: 1.1em;
    font-weight: 700;
}

.hero-section > .image-wrapper > .text span {
    color: #78daf6;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 100px;
    background-color: #36383f;
}

.footer > .foot-text {
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    border: 1px solid #676767;
}

.footer > .foot-text p {
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
}

.footer > .foot-text span{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 900;
}